<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="Hemrika.ClubCloud.Afhangen" Publisher="E=info@sharepresence.nl, CN=Rutger Hemrika, L=Utrecht, S=Utrecht, C=NL" Version="1.0.0.14" />
  <Properties>
    <DisplayName>ClubCloud Afhangen</DisplayName>
    <PublisherDisplayName>Hemrika</PublisherDisplayName>
    <Description>ClubCloud Afhangen</Description>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ClubCloud.Afhangen.App">
      <m2:VisualElements DisplayName="ClubCloud Afhangen" Square150x150Logo="Assets\Square150x150Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="ClubCloud Afhangen beschrijving" ForegroundText="light" BackgroundColor="#297DED" ToastCapable="false">
        <m2:DefaultTile ShortName="ClubCloud Afhangen" DefaultSize="square150x150Logo" Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\Square310x310Logo.png" Square70x70Logo="Assets\Square70x70Logo.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
            <m2:ShowOn Tile="square310x310Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#297DED" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
        </m2:InitialRotationPreference>
      </m2:VisualElements>
      <ApplicationContentUriRules>
        <Rule Match="https://*.clubcloud.nl" Type="include" />
      </ApplicationContentUriRules>
      <Extensions>
        <Extension Category="windows.protocol">
          <Protocol Name="clubcloud" m2:DesiredView="default">
            <Logo>Assets\clubcloud_logo.png</Logo>
            <DisplayName>ClubCloud afhangen</DisplayName>
          </Protocol>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="enterpriseAuthentication" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>